body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}
.wrapper{
    width: 70em;
    height: 40em;
    background-color: aquamarine;
    border-radius: 1em;
    border-color: black;
    border-width: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1em gray;
    flex-direction: column;
}
h1{
    font-family: 'Arial Black', sans-serif;
    color: darkblue;
    margin-bottom: 1em;
}
h3{
    font-family: 'Arial Black', sans-serif;
    color: darkred;
    margin-top: 1em;
}
.wrapper .tile-18x12{
   background-color: burlywood;
   width: 40em;
   height: 30em;
   display: flex;
   flex-direction: column;
   gap: 5px;
}
h2{
    font-family: 'Arial Black', sans-serif;
    color: darkgreen;
}

input{
    border-radius: 5px;
    width: 200px;
    height: 30px;

}
#calculatebtn{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: magenta;
}